
@media screen and (max-width:576px) {
    .nav {
        flex-direction: column;
        padding: 10rem 0;
        box-shadow: none;
    }

    .logo {
        width: 100%;
        margin-bottom: 3rem;
    }

    .nav-list {
        flex-direction: column;
        width: 100%;
    }

    .nav-list li {
        margin-bottom: 2rem;
    }

    .follow-us {
        width: 50%;
    }

    .banner {
        flex-direction: column-reverse;padding-top: 15rem;
        background: none;
    }

    .banner-desc{
        margin-top: 5rem;
        padding: 8rem 3rem 4rem;
        background: url(../images/Group\ 14.png);
        background-size: contain;
    }

    .section-title {
        font-size: 2.4rem;
        text-align: center;
    }

    .goat {
        font-size: 4.8rem;
        text-align: center;
    }

    .section-desc li, .banner-btn{
        font-size: 1.5rem;
    }

    .banner-btn {
        padding: 1rem 1.8rem;
    }
    .banner-img {
        width: 80%;
        height: 80%;
       }

}