@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Open+Sans:wght@700;800&family=Work+Sans:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    font-size: 10px;
    --primary-font-size: 4.8rem;
    --secondary-font-size: 2rem;
    --third-font-seize: 1.8rem;
    --icon-size: 4rem;
    --title-color: #0b0223;
    --desc-color: #534c64;
    --pink: #ff42a5;
}

main {
    width: 85%;
    margin: 0 auto;
}

.section-title {
    font-size: var(--primary-font-size);
    color: var(--title-color);font-weight: 600;
}

.section-desc {
    font-size: var(--third-font-seize);
    color: var(--desc-color); font-weight: 500;
}

.banner-btn {
    font-size: var(--secondary-font-size);
    color: #FFF;
    padding: 2.1rem 4rem;
    border-radius: 48px;
    margin-right: 1.5rem;
    border: none;
}

.online-games, .instant-play {
    margin: 120px 0;
}

/* Navbar Styles */
.nav {
    height: 15vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.logo {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    width: 35%;
}

.pink {
    color: var(--pink);
}

.logo img {
    height: var(--icon-size);
}

.logo h3 {
    font-size: 4.5rem;
    font-weight: 700;
}

.nav-list {
    width: 65%;
}

nav>ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: var(--third-font-seize);
}

.follow-us {
    width: 25%;
    display: flex;
    justify-content: space-around;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 1.8rem 2.4rem;
}

/* Banner Styles */
.banner {
    display: flex;
    height: 85vh;
    justify-content: space-around;
    align-items: center;
    background: url(../images/Group\ 14.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.banner img {
    height: 100%;
}

.goat {
    font-size: 9.5rem;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner-list li {
    margin-left: 2.4rem;
}

.banner-desc>ul li:first-child {
    list-style: url(../images/icon-01.png);
}

.banner-desc>ul li:nth-child(2) {
    list-style: url(../images/icon-02.png);
}

.banner-desc>ul li:nth-child(3) {
    list-style: url(../images/icon-03.png);
}

.banner-list {
    padding-bottom: 3rem;
}

.btn-pink {
    background-color: var(--pink);
}

.btn-blue {
    background-color: #4ec5f7;
}

/* Online Games Styles */
.games-desc {
    text-align: center;
}

.games-title {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: 10rem;
}

.card-container {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    margin-top: 30px;
}

.cards {
    width: 342px;
}

.cards img {
    width: 100%;
}

.cards p {
    font-size: var(--third-font-seize);
    padding-top: 10px;
}

/* overlay styles */
.img-overlay {
    position: relative;
}
.overlay {
    display: none;
}
.img-overlay:hover .overlay{
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1.6rem;
    border: 3px solid #F948B2;
}

.icon img {
    width: 60px;
    height: 60px;
}

.overlay a{
    font-size: var(--third-font-seize);
    color: #ff42a5;
    text-decoration: none;
}

/* Instant Play styles */
.instant-play{
    display: flex;
    align-items: center;
}

.instant-play p {
    padding-right: 20rem;
    padding-top: 2rem;
}

.instant-play-img {
    position: relative;
}

.big-img {
    width: 100%;
}

.float-img {
    width: 50%;
    position: absolute;
    left: -25%;
    bottom: -10%;
}

/* Game Genre Styles */
.game-genre {
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    padding: 120px 180px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.btn-primary {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border-radius: 50px;
    background-color: #FFF;
    color: var(--title-color);
    font-size: var(--third-font-seize);
    font-weight: 600;
    border: none;
    margin-right: 20px;
    margin-bottom: 30px;
}

.btn-primary:hover {
    border: 2px solid var(--pink);
    color: var(--pink);
}

.btn-primary img {
    margin-right: 10px;
}

/* Footer Styles */
.footer {
    padding: 120px 20rem;
    background: var(--title-color);
}

.footer-logo{
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    color: #FFF;
}

.footer-logo h3 {
    font-size: 4.5rem;
    font-weight: 700;
}

.footer > ul {
    list-style: none;
}

.footer-desc {
    display: flex;
    justify-content: space-around;
    padding: 50px 0;
    color: #FFF;
    font-size: var(--third-font-seize);
}

.social-links {
    display: flex;
    justify-content: space-around;
    padding: 0 15rem;
}

.privacy-list li{
    color: var(--desc-color);
    font-size: 1.6rem;
}

.footer p {
    text-align: center;
    font-size: 1.6rem;
}